body {
  font-family: sans-serif;
  color:#555555;
  font-size:28px;
  font-weight:bold;
  background-color: #313131;
}
a {
  color:#444444;
  text-decoration: none;
}
a:visited {
  color:#666666;
  text-decoration: none;
}

.col {
  text-align: center;
  padding: 10px;
  height: 100%;
}
